.burger {
  &__button {
    background-color: rgba($color-primary, 0.6);
    padding: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    &--close {
      background-color: $color-highlight;
    }
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}
