.contact {
  padding: 11.7rem 0 8rem 2rem;
  background-color: $color-white;

  @include respond(laptop) {
    padding: 6.3rem 0 5rem;
  }

  &__info {
    max-width: 43.4rem;
    margin-right: 12.5rem;

    @include respond(desktop-m) {
      margin-right: 10rem;
    }

    @include respond(laptop) {
      max-width: 60%;
      margin-right: 0;
      margin-bottom: 3rem;
    }

    @include respond(phone) {
      max-width: 80%;
    }
  }

  &__heading {
    font-weight: 600;
    margin-bottom: 5.5rem;
  }

  &__text {
    font-size: $defaul-font-size;
    line-height: 2rem;
    text-align: justify;

    @include respond(phone) {
      font-size: 1.6rem;
    }
  }

  &__form {
    max-width: 54rem;
    margin-right: 1rem;
    box-sizing: border-box;

    @include respond(desktop-m) {
      max-width: 56rem;
    }

    @include respond(laptop) {
      max-width: 60%;
      margin-right: 0;
    }

    @include respond(phone) {
      max-width: 80%;
    }
  }

  &__input {
    width: 100%;
    padding: 2rem 3rem 1.9rem;
    margin-bottom: 2.4rem;
    font-size: 16px;
    line-height: 19px;
    color: $color-text;
    border: 1px solid #333333;
    border-radius: 6px;
    box-sizing: border-box;

    &::placeholder {
      color: rgba(19, 39, 67, 0.5);
    }

    &:focus {
      outline: transparent;
      border: 1px solid $color-primary;
    }
  }

  &__inputs {
    display: flex;
    justify-content: space-between;

    @include respond(phone) {
      flex-direction: column;
    }

    &--name,
    &--last-name {
      max-width: 25.3rem;

      @include respond(phone) {
        max-width: 100%;
      }
    }

    &--name {
      margin-right: 3rem;

      @include respond(phone) {
        margin-right: 0;
      }
    }
  }

  &__button {
    padding: 1.7rem 3.5rem;
    background-color: $color-primary;
    border: 1px solid $color-primary;
    color: $color-white;

    @include respond(phone) {
      padding: 1.5rem 3rem;
    }
  }

  & select {
    appearance: none;
    background-image: url(../img/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right 2.3rem center;
    color: rgba(19, 39, 67, 0.5);
  }
}
