.features {
  padding-top: 6.3rem;
  background-color: #fafafa;

  &__heading {
    margin-bottom: 7.4rem;
  }

  &__box {
    display: flex;
    margin-bottom: 10.3rem;

    @include respond(desktop-m) {
      padding: 0 2rem;
    }

    @include respond(laptop) {
      justify-content: center;
      padding: 0 2rem;
      margin-bottom: 3rem;
    }

    @include respond(phone) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    width: 35rem;
    height: 100%;
    border-radius: 8px;
    margin-right: 3rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100%;

    @include respond(desktop-m) {
      width: 33%;
      margin-bottom: 3rem;
    }

    @include respond(phone) {
      width: 100%;
      margin-right: 0;
    }

    &--1 {
      background-image: url(../img/feature-1.png);
    }

    &--2 {
      background-image: url(../img/feature-2.png);
    }

    &--3 {
      background-image: url(../img/feature-3.png);
    }
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__card {
    max-width: 29.3rem;
    padding: 3.5rem 2.8rem 2.5rem;
    margin: 0 auto;
    margin-top: 15.7rem;
    background-color: $color-white;
    text-align: center;
    box-shadow: 0 0.5rem 3rem rgba($color-black, 0.1);
    border-radius: 8px;
    box-sizing: border-box;

    @include respond(desktop-m) {
      max-width: 90%;
      margin-top: 15rem;
    }

    @include respond(laptop) {
      padding: 3rem 2rem 2rem;
    }
  }

  &__subheading {
    margin-bottom: 1.8rem;
  }

  &__text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: $color-text;
    margin-bottom: 2.5rem;

    @include respond(phone) {
      font-size: $defaul-font-size;
    }
  }

  &__link {
    @include link;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: $color-primary;

    @include respond(phone) {
      font-size: $defaul-font-size;
    }
  }
}
