.focus {
  padding: 9.4rem 0;
  background-color: $color-highlight;
  color: $color-white;

  @include respond(laptop) {
    padding: 6.3rem 0 5rem;
  }

  &__info {
    margin-top: 3rem;
    margin-right: 12.5rem;
    max-width: 44.5rem;

    @include respond(laptop) {
      max-width: 60%;
      margin-right: 0;
      margin-bottom: 3rem;
    }
  }

  &__heading {
    font-weight: 600;
    margin-bottom: 4.5rem;
  }

  &__text {
    font-size: $defaul-font-size;
    line-height: 2rem;
    text-align: justify;
    margin-bottom: 4rem;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 13.4rem;
  }

  &__link {
    @include link;
  }

  &__photo-box {
    position: relative;
    z-index: 10;

    @include respond(desktop-m) {
      margin-right: 5rem;
    }

    @include respond(laptop) {
      margin-right: 0;
    }
  }

  &__photo {
    border-radius: 15px;
  }

  &__photo--2,
  &__photo--3 {
    position: absolute;
    top: 2.2rem;
    z-index: -1;
  }

  &__photo--2 {
    left: -4.4rem;
  }

  &__photo--3 {
    right: -4.4rem;
  }
}
