@mixin respond($breakpoint) {
  //320px
  @if $breakpoint == phone-s {
    @media (max-width: 20em) {
      @content;
    }
  }

  //480px
  @if $breakpoint == phone-l {
    @media (max-width: 30em) {
      @content;
    }
  }

  //768px
  @if $breakpoint == phone {
    @media (max-width: 48em) {
      @content;
    }
  }

  //1024px
  @if $breakpoint == laptop {
    @media (max-width: 64em) {
      @content;
    }
  }

  //1280px
  @if $breakpoint == desktop-m {
    @media (max-width: 80em) {
      @content;
    }
  }
}

@mixin link {
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s;
    cursor: pointer;
  }

  &:hover,
  &:active {
    transform: translateY(-3px);
  }
}
