@mixin respond($breakpoint) {
  //768px 768/16px default font size
  @if $breakpoint == phone {
    @media (max-width: 48em) {
      @content;
    }
  }

  //1024px
  @if $breakpoint == laptop {
    @media (max-width: 64em) {
      @content;
    }
  }

  //1280px
  @if $breakpoint == desktop-m {
    @media (max-width: 80em) {
      @content;
    }
  }
}

@mixin link {
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s;
    cursor: pointer;
  }

  &:hover,
  &:active {
    transform: translateY(-3px);
  }
}
