.heading-primary {
  font-family: inherit;
  font-size: 7.2rem;
  line-height: 8.6rem;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.heading-secondary {
  font-family: inherit;
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 4.3rem;
}

.heading-tertiary {
  font-family: inherit;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
}
